<div class="container ">
    <div *ngIf="!carsDidLoaded" class="row pt-3 pb-5">
        <div class="col-12 d-flex justify-content-center">
            <div class="spinner-grow text-warning" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
    <div *ngIf="carsDidLoaded" class="row pb-5 ">
        <h1 class="text-light text-center my-2">Ваші автомобілі</h1>
        <h1 *ngIf="carsDidLoaded && !userCars.length" class="text-center text-light my-2">Вашого авто немає в базі</h1>
        <div *ngFor="let car of userCars" class="col-12 mb-5 stretch-card">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-column justify-content-between">
                        <span>Авто: <b> {{car.name}}</b></span>
                        <span>Клієнт:<b> {{car.ownerPhone}}</b></span>
                        <span>Vin:<b> {{car.vinCode}}</b></span>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <img class="border rounded"
                             src="{{car.photoUrl}}"
                             style="width: 160px">
                        <div class="d-flex align-items-center mt-2">
                            <img src="assets/2059.png" style="width: 35px">
                            <b>{{car.gosNumber}}</b>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <h3 class="my-2">Всі роботи</h3>
                    <ul class="list-group">
                        <li *ngFor="let work of car.works" class="list-group-item ">{{work}}</li>
                    </ul>
                    <h3 class="my-2">В роботі</h3>
                    <ul class="list-group">
                        <li *ngIf="!car.worksInProgress.length" class="list-group-item bg-warning"
                            style="--bs-bg-opacity: .6;">-
                        </li>
                        <li *ngFor="let work of car.worksInProgress" class="list-group-item bg-warning"
                            style="--bs-bg-opacity: .6;">{{work}}</li>
                    </ul>
                    <h3 class="my-2">Виконані</h3>
                    <ul class="list-group">
                        <li *ngIf="!car.worksDone.length" class="list-group-item bg-success"
                            style="--bs-bg-opacity: .6;">-
                        </li>
                        <li *ngFor="let work of car.worksDone" class="list-group-item bg-success"
                            style="--bs-bg-opacity: .6;">{{work}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


