<div class="container">
  <h1 class="text-center text-light my-3">
    Які ми надаємо послуги
  </h1>
  <div class="row">
    <div class="col-12">
      <mat-accordion>
        <mat-expansion-panel (closed)="panelOpenState = true" (opened)="panelOpenState = false"
                             class="my-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Чип тюнінг авто
            </mat-panel-title>
<!--            <mat-panel-description>-->
<!--              Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
<!--            </mat-panel-description>-->
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Назва </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="speed">
              <th mat-header-cell *matHeaderCellDef> Потужність </th>
              <td mat-cell *matCellDef="let element"> {{element.speed}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef > Ціна </th>
              <td mat-cell *matCellDef="let element" > {{element.symbol}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </mat-expansion-panel>
<!--        <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true"-->
<!--                             class="my-2">-->
<!--          <mat-expansion-panel-header>-->
<!--            <mat-panel-title>-->
<!--              Self aware panel-->
<!--            </mat-panel-title>-->
<!--            <mat-panel-description>-->
<!--              Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
<!--            </mat-panel-description>-->
<!--          </mat-expansion-panel-header>-->
<!--          <p>I'm visible because I am open</p>-->
<!--        </mat-expansion-panel>-->
      </mat-accordion>
    </div>
  </div>
</div>

