<div class="container  pb-5">
  <div class="row mat-typography d-flex mt-5 justify-content-center ">
    <div class="col-md-6 text-light text-center about-company-description">
      Наша компанія працює вже понад 9 років. Ми працюємо з клієнтами з усієї України. Найважливішим для нас завжди буде
      досягти результату, який хоче отримати наш клієнт співпрацюючи з нашою компанією.
    </div>
  </div>
  <div class="row mb-5 mt-3">
    <div class="col-md-6 my-2 d-flex justify-content-between">
      <button routerLink="../works-by-vehicle" class="btn w-100 btn-success">
        Прогрес по обслуговуванню мого авто
      </button>
    </div>
    <div class="col-md-6 my-2 d-flex justify-content-between">
      <button routerLink="../work-types" class="btn w-100 btn-success" >
        Послуги сервісу
      </button>
    </div>

  </div>
  <div class="row  pb-5">
    <div class="column">
      <img src="assets/golfRetro.jpg">
      <img src="assets/audirs2.jpg">
    </div>
    <div class="column">
      <img src="assets/golfGti.jpg">
      <img src="assets/all-team.jpg">


    </div>
    <div class="column">
      <img src="assets/svarka.jpg">
      <img src="assets/golfRetro.jpg">

    </div>
  </div>
  <div class="row mat-typography d-flex mb-5 justify-content-center ">
    <div class="col-md-6 text-light text-center about-company-description">
      Наша компанія працює вже понад 9 років. Ми працюємо з клієнтами з усієї України. Найважливішим для нас завжди буде
      досягти результату, який хоче отримати наш клієнт співпрацюючи з нашою компанією.
    </div>
  </div>
</div>
