.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.about-company-description{
  letter-spacing: 1.5px;
  font-family:Ani, "Helvetica Neue", sans-serif ;
  padding-bottom: 10px;
  font-size: 1.1rem;
  border-bottom: 2px solid #dc7711;
  background-color: transparent;
}
/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 33.33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
